
:root {

    --font-family: 'Roboto', sans-serif;
    --second-family: 'Raleway', sans-serif;
    
    --white: #fff;
    --navy-blue: #2e2f42;
    --navy-blue-modal: rgba(46, 47, 66, 0.4);
    --iris: #4d5ae5;
    --ocean: #404bbf;
    --grey: rgba(46, 47, 66, 0.7);
    --green: #31d0aa;
    --slate: #434455;
    --light-slate: #8e8f99;
    --cornflower: #e7e9fc;
    --dairy: #fcfcfc;
    --cloud: #f4f4fd;
        
}


body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: white;
    padding: 20px;
}


ul {
    padding: 0px;
    margin: 0x;
    list-style: none;
}

a {
    text-decoration: none;
}

/* --------------------------------------------------------header section------------------------------------------------------- */

.logo1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.navbar .logo2 {
    color: #2e2f42;
}

.nav-link {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.contact {
    font-style: normal;
}

.contact-tab-link {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.nav-link:hover,
.nav-link:focus,
.contact-tab-link:hover,
.contact-tab-link:focus {
    color: #404bbf;
}



/* --------------------------------------------------------hero section------------------------------------------------------- */

.hero {
    background-color: #2e2f42;
}

.hero-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: white;
    text-align: center;
}

.hero-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: white;
    background-color: #4d5ae5;
}


/* --------------------------------------------------------features section------------------------------------------------------- */


.features-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.features-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}


/* --------------------------------------------------------team section------------------------------------------------------- */

.team {
    background-color: #f4f4fd;
}

.team-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    text-transform: capitalize;
}

.team-tab {
    background-color: white;
}

.team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.team-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}


/* --------------------------------------------------------portfolio section------------------------------------------------------- */

.portfolio-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    text-transform: capitalize;
}

.port-cd-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.port-cd-tex {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}


/* --------------------------------------------------------footer section------------------------------------------------------- */


.footer {
    background-color:#2e2f42;
}

.footer .logo2 {
    color: #f4f4fd;
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}

